.services {
	&__card {
		@apply relative px-5 pt-11 pb-5 border-[1px] border-grey-1 rounded-lg;
		&__heading {
			@apply absolute top-[-20px] left-3  inline-block pt-2.5 pb-2 px-5 leading-none rounded-lg font-extrabold;
		}
	}
}

.all-service {
	&__card {
		@apply mt-5 flex  items-center  justify-between  rounded-t-none rounded-e-[10px] rounded-b-[10px] rounded-s-[80px] rounded-tl-none;
	}
	&__left {
		@apply py-12 ps-10 w-8/12;
		&--alt {
			@apply w-7/12;
		}
	}
	&__right {
		@apply py-5;
	}
}

.serve {
	&__desc {
		@apply text-lg leading-10;
	}
}

.work {
	&__cards {
		padding-top: 1px;
		padding-bottom: 70px;
		height: 100%;
		background-image: url("../../../assets/img/curve-frame.png");
		background-size: cover;
		background-position: 45% 40%;
		background-repeat: no-repeat;
	}

	&__card {
		@apply relative rotate-[6deg] -ms-7;
		&--alt {
			@apply rotate-[-5.7deg] -mt-4;
		}
	}

	&__content {
		@apply absolute top-2 px-8 pt-10 flex flex-col items-center text-center h-full w-full;
	}
	&__heading {
		@apply max-w-[250px] font-bold uppercase;
	}
	&__number {
		@apply inline-flex items-center justify-center text-[40px] font-bold  w-[66px] h-[66px] rounded-full rotate-[26deg] absolute -top-6 start-16;
		&--alt {
			top: unset;
			@apply -rotate-[26deg] bottom-0;
		}
	}
	&__img {
		@apply w-[130px] text-center;
	}
}

@media only screen and (max-width: 992px) {
	.all-service {
		&__card {
			@apply rounded-s-[50px]  rounded-tl-none;
		}
		&__left {
			@apply py-5 ps-5 w-9/12 block;
			&--alt {
				@apply w-9/12 block;
			}
		}
		&__right {
			@apply py-5 w-3/12;
		}
	}

	.work {
		&__frame {
			width: 100%;
		}
		&__img {
			width: 100px;
		}
		&__cards {
			background-image: none;
		}
		&__card {
			@apply ms-[unset] rotate-[2deg];
			&--alt {
				@apply rotate-[-2deg] -mt-4;
			}
		}
		&__content {
			@apply px-5 py-10;
		}
		&__number {
			@apply text-xl w-[40px] h-[40px] -top-2.5 left-20;
			&--alt {
				top: unset;
				@apply w-[40px] h-[40px] -rotate-[26deg] bottom-4 left-28;
			}
		}
		&__heading {
			@apply text-[20px];
		}
	}
}

@media only screen and (max-width: 768px) {
	.services {
		&__card {
			@apply pt-0 pb-4;
			&__heading {
				@apply relative top-[-20px] left-1/2 -translate-x-1/2 text-center  inline-block;
			}
		}
	}

	.serve {
		&__desc {
			@apply text-base leading-6;
		}
		&__number {
			@apply text-lg;
		}
	}

	.work {
		&__content {
			@apply px-5 py-16;
		}
		&__number {
			@apply text-xl w-[40px] h-[40px] -top-2.5 left-20;
			&--alt {
				top: unset;
				@apply w-[40px] h-[40px] -rotate-[26deg] bottom-4 left-28;
			}
		}
		&__img {
			margin-top: 50px;
			width: 180px;
		}
		&__heading {
			@apply text-[30px];
		}
	}
}
